---
layout: default
permalink: /pricing/epicscarlet/
title: "Epic Scarlet Package | Pricing"
description: "Learn more about the Epic Scarlet Video Package by Color Room Films."
image: /img/heros/pricing.jpg

sitemap: false

heroimg: /img/heros/pricing.jpg
heroalt: Wedding in the snow
herotitle: <strong>Epic Scarlet Package</strong>
herosub: "$5499, "
heroem: tax included
---

  <!-- Hero Component -->

    {% include hero.html %}

  <!-- Content Header -->

    <section class="section is-medium" id="content">
      <div class="container has-text-centered">
        <h3 class="title is-1">Our Epic Scarlet package is customizable.</h3>
        <h3 class="subtitle is-4">Please <a href="{{ site.baseurl }}/contact/" title="Visit our Contact page to send us a message">contact us</a> for options</h3>
      </div>
    </section>

  <!-- Reviews Component -->

    {% include reviews.html %}

  <!-- Call to Action -->

    <section class="section is-large">
      <div class="container has-text-centered">
        <h3 class="title is-1">Want to see our other packages?</h3>
        <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/pricing/" title="Visit our Pricing page to see our other packages">Go back to Pricing page</a>
      </div>
    </section>
