---
layout: default
active: find-your-wedding-style
permalink: /find-your-wedding-style/
seo_title: false
title: "Find Your Wedding Style - Color Room Films"
description: "Take a look at the diiferent wedding styles we offer and choose the one that you want. We can assist you decide the wedding style you so desire."
image: /img/heros/home.jpg
keywords:
  - New Jersey
  - videographer
  - wedding styles
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
  - portfolio
  - contact
  - special day

heroimg: /img/heros/home.jpg
heroalt: Bride and Groom during Color Room Films wedding photography session
herotitle: "Find your <strong><a href='https://www.instagram.com/explore/tags/MotionPictureMemories/' title='Check out some #MotionPictureMemories on Instagram!' target='_blank'>#MotionPictureMemories</a></strong> Wedding"
fancybox: true
---

  <!-- Hero Component -->

  {% include hero.html %}


  <!-- Main Content -->

  <!-- Video Grid -->

    <section class="video-grid"  id="content">
      <div class="columns is-mobile is-multiline is-gapless">
      {% for weddingvids in site.weddingvids %}
       {% if weddingvids.tags contains 'find-your-style' %}
        <article class="column is-6-mobile is-4-tablet is-3-desktop">
          <figure>
            <a class="fancybox fancybox.iframe" href="https://player.vimeo.com/video/{{ weddingvids.link }}?color=26a69a&title=0&byline=0&portrait=0&autoplay=1" title="{{ weddingvids.title }}">
            <img class="videoThumb" src="{{ site.baseurl }}{{ weddingvids.thumb }}" alt="Thumbnail of {{ weddingvids.subtitle }} video"></a>
            <figcaption class="video-figcaption">{{ weddingvids.subtitle }}</figcaption>
          </figure>
          {% comment %}<!-- <h4 class="videoTitle">{{ weddingvids.title }}</h4> -->{% endcomment %}
        </article>
        {% endif %}
      {% endfor %}
      </div>
    </section>

    <!-- Call to Action -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to learn more?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/about/" title="Visit our FAQ page to view some of our most Frequently Asked Questions">Check out our About page!</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Ready to talk?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/contact/" title="Visit our Contact page and send us a message">Send us a message!</a>
          </div>
        </div>
      </div>
    </section>
