---
layout: index
active: home
image: /img/heros/home.jpg
seo_title: false
title: Wedding Videography & Cinematography Ocean County NJ | Wedding Videographer NJ
keywords:
  - New Jersey
  - videographer
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
featured_video: 236026743
featured_title: Kristin & Michael
heroimg: /img/heros/home.jpg
---

  <!-- Hero Component -->

    <section class="hero is-fullheight is-primary" style="background: url({{ site.baseurl }}{{ page.heroimg }}) no-repeat center center fixed;">
      <div class="hero is-fullheight dark-overlay">

        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title is-1 is-hidden-mobile">
              Your wedding isn't just an event, it's an experience.<br/>
              We create the <strong><a href="https://www.instagram.com/explore/tags/MotionPictureMemories/" title="Check out some #MotionPictureMemories on Instagram!" target="_blank">#MotionPictureMemories</a></strong> you'll cherish forever.
            </h1>
            <h1 class="title is-3 is-hidden-tablet">
              Your wedding isn't just an event, it's an experience.<br/>
              We create the <strong><a href="https://www.instagram.com/explore/tags/MotionPictureMemories/" title="Check out some #MotionPictureMemories on Instagram!" target="_blank">#MotionPictureMemories</a></strong> you'll cherish forever.
            </h1>
          </div>
        </div>

        <div class="hero-foot is-hidden-mobile">
          <div class="container">
            <div class="tabs is-centered">
              <ul>
                <li>
                  <a href="#content" title="Continue to content">
                    <i class="icon-angle-down subtitle is-1" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>

  <!-- General Section -->

    <section class="section is-medium" id="content">
      <div class="container has-text-centered">
        <h1 class="title is-1"><span>We get it.</span> Choosing a videographer is hard.</h1>
        <h2 class="subtitle is-4">
          <em>It's not like your wedding isn't the biggest day of your life or anything...</em>
        </h2>
      </div>
    </section>

    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">

          <h3 class="title is-2"><strong>Our Philosophy</strong></h3>
          <p class="subtitle is-4 is-spaced">
            The most important thing to us is <strong>your</strong> story. At Color Room Films, we deliver precious
            memories of your special day that you can relive for years to come. Our goal is to remain discreet and
            make sure <strong>you</strong> remain the focal point all day, while telling your story in the most
            emotional, cinematic and honest way possible. We use only the highest grade cinematic tools available
            to tell your story; the same cameras, lenses, aerial drones and other tools you would see on a Hollywood
            set, at the best value for your dollar.
          </p>

          <h3 class="title is-2"><strong>Why Us?</strong></h3>
          <p class="subtitle is-4">
            Every wedding is unique and every couple is different, that's why every project we work on is approached
            differently. No two events we've filmed are ever the same; we purchase exclusive music publishing rights
            for each wedding and don't believe in releasing films that are lacking individuality. It's our job to get
            to know you and what you like, so we can represent your personality as genuinely as possible.
          </p>

        </div>
      </div>
    </section>

  <!-- Reviews -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <h3 class="title is-1">
          <span>Don't just take our word for it,</span>
        </h3>
        <p class="subtitle is-4">
          <em>see what others have to say about us:</em>
        </p>
      </div>
    </section>

    <div class="reviews-container">
      <div class="container">
        <div class="columns is-multiline level">
          {% for testimonials in site.testimonials %}

            <div class="column is-4 level-item">
              <div class="card">
                <div class="card-content">
                  <p class="subtitle is-spaced">
                    "{{ testimonials.review }}"
                  </p>
                  <p class="title" style="text-align: right; padding-top: 1.5rem;">
                    - {{ testimonials.name }}
                  </p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      <a href="{{ testimonials.link }}" title="Read {{ testimonials.name }}'s and others like it at {{ testimonials.location }}" target="_blank">Read more reviews on {{ testimonials.location }}</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
      <div class="light-overlay awards">
        <div class="container">
          <div class="columns">

            <div class="column">
              <article class="media has-text-centered">
                <figure class="media-left">
                  <i class="icon-theknot"></i>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h3 class="title is-1">
                      <strong>2017</strong> The Knot
                    </h3>
                    <h4 class="subtitle is-4">
                      Best of Weddings
                    </h4>
                  </div>
                </div>
              </article>
            </div>

            <div class="column">
              <article class="media">
                <figure class="media-left">
                  <i class="icon-weddingwire"></i>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h3 class="title is-1">
                      <strong>2017</strong> WeddingWire
                    </h3>
                    <h4 class="subtitle is-4">
                      Couples' Choice Awards
                    </h4>
                  </div>
                </div>
              </article>
            </div>

          </div>
        </div>
      </div>
    </div>

  <!-- Featured Video -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <h3 class="title is-1">Check out one of our recent <span><a href="https://www.instagram.com/explore/tags/MotionPictureMemories/" title="Check out some #MotionPictureMemories on Instagram!" target="_blank">#MotionPictureMemories</a></span>:</h3>
        <p class="subtitle is-4">
          <em>Afterall, you didn't just come here to read about our films.</em>
        </p>
      </div>
    </section>

    <section>
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/{{ page.featured_video }}?color=26a69a&title=0&byline=0&portrait=0" frameborder="0" title="{{ page.featured_title }} - Wedding Trailer by Color Room Films" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section>

  <!-- Call to Action -->

    <section class="section is-large">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to see more?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/weddings/" title="Visit our Weddings page to view more of our work">We have plenty to share!</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Ready to talk?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/contact/" title="Visit our Contact page and send us a message">Call, text or message us!</a>
          </div>
        </div>
      </div>
    </section>
