---
layout: default
active: reviews
permalink: /reviews/
seo_title: false
title: "Wedding Videography Reviews - Color Room Films"
description: "We are the best Wedding videographer and photographer  in ocean county. Don't just take our word for it, see what others have to say about us."
keywords:
  - New Jersey
  - videographer
  - reviews
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
  - portfolio
  - contact
  - special day

heroimg: /img/heros/nj-photographer-reviews.jpg
heroalt: Smiling Bride and Groom during Color Room Films wedding photography session
herotitle: "Reviews of our <strong><a href='https://www.instagram.com/explore/tags/MotionPictureMemories/' title='Check out some #MotionPictureMemories on Instagram!' target='_blank'>#MotionPictureMemories</a></strong>... cherished forever."

review_cats:
  - humble
  - subtle
  - honest
---

  <!-- Hero Component -->

  {% include hero.html %}


  <!-- Main Content -->

  <!-- Review Grid -->

  <section class="reviews-container" id="content">
    <div class="dark-overlay">
      {% for review_cat in page.review_cats %}
        {% assign hashtag = review_cat %}
        {% include reviews-new.html %}
      {% endfor %}
    </div>
  </section>


    <!-- Call to Action -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to learn more?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/about/" title="Visit our FAQ page to view some of our most Frequently Asked Questions">Check out our About page!</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Ready to talk?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/contact/" title="Visit our Contact page and send us a message">Send us a message!</a>
          </div>
        </div>
      </div>
    </section>
