---
layout: default
title: "Thank You!"
image: /img/team/team.jpg

heroimg: /img/team/team.jpg
permalink: /thank-you/
---

  <!-- Hero Component -->

  <section class="hero is-fullheight is-primary" style="background: url({{ site.baseurl }}{{ page.heroimg }}) no-repeat center center fixed;">
    <div class="hero is-fullheight dark-overlay">

      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1-tablet">
            <strong>Thank you!</strong> We appreciate you reaching out.
          </h1>
          <h2 class="subtitle is-4">
            <em>We'll be touch soon</em>
          </h2>
          <a href="https://vimeo.com/colorroomfilms" class="button is-primary is-large-tablet has-gap-top-large" target="_blank">
            <span class="icon is-medium"><i class="icon-vimeo"></i></span>
            <span>Check out our Videos</span>
          </a>
        </div>
      </div>
    </div>
  </section>
