---
layout: default
active: weddings
permalink: /weddings/
seo_title: false
title: "Cinematic Wedding Videography Ocean County - Color Room Films"
description: "View New Jersey’s premier videographers’ portfolio of recent wedding films. We specialize in cinematic films and making everyone feel like a star."
image: /img/heros/weddings.jpg
keywords:
  - New Jersey
  - videographer
  - wedding film
  - cinematic
  - motion picture memories
  - NJ
  - wedding video
  - wedding movie
  - portfolio
  - contact
  - special day
featured_video: 228121725
featured_title: Christina & Phil

heroimg: /img/heros/nj-wedding-video.jpg
heroalt: Bride and groom by pool
herotitle: "These are the <strong><a href='https://www.instagram.com/explore/tags/MotionPictureMemories/' title='Check out some #MotionPictureMemories on Instagram!' target='_blank'>#MotionPictureMemories</a></strong> you'll cherish forever."
fancybox: true
---

  <!-- Hero Component -->

  {% include hero.html %}


  <!-- Main Content -->

  <!-- Featured Video -->

    <section id="content">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/{{ page.featured_video }}?color=26a69a&title=0&byline=0&portrait=0" width="640" height="337" frameborder="0" title="{{ page.featured_title }} - Wedding Trailer by Color Room Films" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section>

  <!-- Video Grid -->

    <section class="video-grid">
      <div class="columns is-mobile is-multiline is-gapless">



      <!--{% for weddingvids in site.weddingvids %}-->
        <!--{% unless weddingvids.tags contains 'false' %}-->
        <!--<article class="column is-6-mobile is-4-tablet is-4-desktop">-->
          <!--<figure>-->
            <!--<a class="fancybox fancybox.iframe" href="https://player.vimeo.com/video/{{ weddingvids.wedding-page }}?color=26a69a&title=0&byline=0&portrait=0&autoplay=1" title="{{ weddingvids.title }}">-->
            <!--<img class="videoThumb" src="{{ site.baseurl }}{{ weddingvids.thumb }}" alt="Thumbnail of {{ weddingvids.subtitle }} video"></a>-->
          <!--</figure>-->
          <!--&lt;!&ndash; <h4 class="videoTitle">{{ weddingvids.title }}</h4> &ndash;&gt;-->
        <!--</article>-->
        <!--{% endunless %}-->
      <!--{% endfor %}-->
      </div>
    </section>

    <!-- Main Content -->

      <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
          <div class="container">

            <h3 class="title is-1">
              It's <strong>your</strong> day, not ours!
            </h3>
            <p class="subtitle is-4 is-spaced">
              The main focus of a wedding is the <strong>couple</strong>. Our #1 priority is to give you the best and most
              honest wedding film possible while never getting in the way of the guest's experience. We do this by blending
              into to the background, normally working behind the photographer, which helps us get the most honest and
              candid films possible.
            </p>

            <h3 class="title is-1">
              How we work
            </h3>
            <p class="subtitle is-4">
              Color Room Films only uses the best gear for the job. To capture our weddings we choose to use <em>8K cinema
              cameras</em>. The same cameras that are used on Hollywood sets. No bigger than a shoe box, our cameras aren't
              intrusive and we never use lights on our couples, making them feel uncomfortable. We only pose couples
              <strong>after</strong> the photographer has finished with their portrait session and we'll never ask you to do
              something you don't want to for the sake of a shot.
            </p>

            <div class="columns">

              <div class="column">
                <h3 class="title is-1">
                  Visual
                </h3>
                <p class="subtitle is-4">
                  The goal for us is to the create the most honest film of your event or service. We specialize in <a href="https://colorroomfilms.com/" title="Wedding Videography and Cinematic Films NJ">cinematic films</a> and making everyone feel like a star.
                </p>
              </div>

              <div class="column">
                <h3 class="title is-1">
                  Audio
                </h3>
                <p class="subtitle is-4">
                  For close to three decades, Steve has dedicated himself to recording, live audio and audio production. He
                  takes special pride in delivering the cleanest audio possible.
                </p>
              </div>

              <div class="column">
                <h3 class="title is-1">
                  Timing
                </h3>
                <p class="subtitle is-4">
                  Quick turnaround and meeting deadlines are our forte. We have never had a missed deadline and in most cases,
                  deliver your film ahead of schedule.
                </p>
              </div>

            </div>
          </div>
        </div>
      </section>


  <!-- Call to Action -->

    <section class="section is-medium">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-1">Want to learn more?</h3>
            <a class="button is-primary is-outlined is-large" href="{{ site.baseurl }}/about/" title="Visit our FAQ page to view some of our most Frequently Asked Questions">Check out our About page!</a>
          </div>
          <div class="column">
            <h3 class="title is-1">Ready to talk?</h3>
            <a class="button is-primary is-large" href="{{ site.baseurl }}/contact/" title="Visit our Contact page and send us a message">Send us a message!</a>
          </div>
        </div>
      </div>
    </section>
