<script src='https://forms.kpianalyser.com/js/form_load.js'></script>

{% if jekyll.environment != "development" and jekyll.environment != "staging" and site.google_analytics_id %}
<!-- Google Analytics -->

  <script>
    /* Hide GA script from pagespeed insights */
    if(navigator.userAgent.indexOf("Speed Insights") == -1) {

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71617672-1', 'auto');
      ga('send', 'pageview');

    }

  </script>
{% endif %}

{% if jekyll.environment != "development" and jekyll.environment != "staging" and site.google_tag_manager_id %}
  <!-- Google Tag Manager -->
  <script>if(navigator.userAgent.indexOf("Speed Insights") == -1) {
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google_tag_manager_id }}');}</script>
  <!-- End Google Tag Manager -->
{% endif %}
