<head>

  <!--


            ***  ********
            ***  ***    ***
            ***  ***     ***
            ***  ***      ***
       ********  ***       ***
     ***    ***  ***       ***
    ***     ***  ***      ***
    ***     ***  ***     ***
     ***    ***  ***    ***
       ********  ********

       Website created by
       dinsmoredesign.com

       Built with love and
      Jekyll @ jekyllrb.com



  -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msvalidate.01" content="4FED5B4A769B4CBF8910B4477C22F3F5" />

    {% if page.url == "/404" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

  <!-- CSS Files -->
    {% include styles.html %}

  <!-- Favicons & App Icons -->

    <link rel="shortcut icon" href="{{ site.baseurl }}/img/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/img/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#26a69a">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/img/icons/ms-icon-144x144.png">
    <script async src="//131720.tctm.co/t.js"></script>

  <!-- SEO Tags -->
    {% if page.seo_title == false %}
      <title>{{ page.title }}</title>
      {% seo title=false %}
    {% else %}
      {% seo %}
    {% endif %}

    <meta name="keywords" content="{% for keyword in page.keywords %}{{keyword}}{% unless forloop.last %}, {% endunless %}{% endfor %}">

  <!-- App bar color -->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#26a69a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#26a69a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#26a69a">

    {% include head-scripts.html %}
</head>
