<!-- Navbar -->

  <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/img/logo.svg" alt="Color Room Films Logo">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        {% if page.active == "home" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/">Home</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/">Home</a>
        {% endif %}
        {% if page.active == "about" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/about/">About</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/about/">About</a>
        {% endif %}
        {% if page.active == "weddings" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/weddings/">Weddings</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/weddings/">Weddings</a>
        {% endif %}
        {% if page.active == "find-your-wedding-style" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/find-your-wedding-style/">Find Your Wedding Style</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/find-your-wedding-style/">Find Your Wedding Style</a>
        {% endif %}
        {% if page.active == "reviews" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/reviews/">Reviews</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/reviews/">Reviews</a>
        {% endif %}
        {% if page.active == "contact" %}
          <a class="nav-item is-tab is-active" href="{{ site.baseurl }}/contact/">Contact</a>
          {% else %}
            <a class="nav-item is-tab" href="{{ site.baseurl }}/contact/">Contact</a>
        {% endif %}

        <a class="nav-item is-tab is-icon is-hidden-mobile social" title="Visit Color Room Films on WeddingWire" href="http://www.weddingwire.com/reviews/color-room-films-jackson/fd77ea76d63e4a5f.html" target="_blank">
          <i class="icon-weddingwire"></i>
        </a>
        <a class="nav-item is-tab is-icon is-hidden-mobile social" title="Visit Color Room Films on The Knot" href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" target="_blank">
          <i class="icon-theknot"></i>
        </a>

        <a class="nav-item is-tab is-hidden-tablet" title="Visit Color Room Films on WeddingWire" href="http://www.weddingwire.com/reviews/color-room-films-jackson/fd77ea76d63e4a5f.html" target="_blank">
          <i class="icon-weddingwire" aria-hidden="true"></i>Wedding Wire
        </a>
        <a class="nav-item is-tab is-hidden-tablet" title="Visit Color Room Films on The Knot" href="https://www.theknot.com/marketplace/color-room-films-llc-jackson-nj-963435" target="_blank">
          <i class="icon-theknot"></i>The Knot
        </a>
      </div>
  </nav>
