 <div class="column is-hidden-touch is-12-desktop">
  <table class="table">
    <thead class="is-selected is-striped">
      <tr>
        <th class="has-text-centered">Package</th>
        <th class="has-text-centered">Price (tax included)</th>
        <th class="has-text-centered">Shooters</th>
        <th class="has-text-centered">Resolution</th>
        <th class="has-text-centered">Cinema Retouching & Color</th>
        <th class="has-text-centered">Enhanced Audio</th>
        <th class="has-text-centered">Cinematic Full Film</th>
        <th class="has-text-centered">Trailer</th>
        <th class="has-text-centered">Full Film</th>
        <th class="has-text-centered">Hours</th>
        <th class="has-text-centered">Drone</th>
        <th class="has-text-centered">Delivery Resoltuion</th>
      </tr>
    </thead>
    <tbody>
      {% for tier in page.pricing %}
      <tr class="feature">
        <th>{{ tier.name }}</th>
        <td>${{ tier.price }}</td>
        {% for feature in tier.features %}
            <td class="has-text-centered">{{ feature.name }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% for tier in page.pricing %}
<div class="column is-hidden-tablet is-hidden-desktop">
    <div class="pricing">
      <div class="pricing-header">
        <h3 class="title is-spaced is-4">
          <a href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">
          {{ tier.name }}
          </a>
        </h3>
      </div>
      <div class="feature">

      </div>
      <div class="column columns is-mobile is-tablet">
        <div class="column">
          <div class="feature"><span>Shooters</span></div>
          <div class="feature"><span>Resolution</span></div>
          <div class="feature"><span>Pro Edit</span></div>
          <div class="feature"><span>Enhanced Audio</span></div>
          <div class="feature"><span>Cinematic</span></div>
          <div class="feature"><span>Trailer</span></div>
          <div class="feature"><span>Full Film</span></div>
          <div class="feature"><span>Hours</span></div>
          <div class="feature"><span>Drone</span></div>
          <div class="feature"><span>Delivery</span></div>
          <div class="pricing-footer">
            <span>Pricing</span>
          </div>
        </div>
        <div class="column">
          {% for feature in tier.features %}
            <div class="feature">
              <span>{{ feature.name }}</span>
            </div>
          {% endfor %}
        <div class="pricing-footer">
          <span>${{ tier.price }}*</span>
        </div>
        </div>
      </div>
      <!--<a class="tier-url" href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">-->
        <!--Learn more-->
      <!--</a>-->
    </div>
  </div>
{% endfor %}
