{% for tier in page.pricing %}
  <div class="column is-6-tablet is-3-desktop">
    <div class="pricing">
      <div class="pricing-header">
        <h3 class="title is-spaced is-4">
          <a href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">
          {{ tier.name }}
          </a>
        </h3>
      </div>
      {% for feature in tier.features %}
        <div class="feature">
          <span>{{ feature.name }}</span>
          <span>{{ tier.resolution }}</span>
        </div>
      {% endfor %}
      <div class="pricing-footer">
        <span>${{ tier.price }}*</span>
      </div>
      <a class="tier-url" href="{{ site.baseurl }}{{ tier.url }}" title="Learn more about our {{ tier.name }} here">
        Learn more
      </a>
    </div>
  </div>
{% endfor %}
