  <div class="container">

      <header>
          <h1 class="title title--hashtag has-text-centered">#{{ hashtag }}</h1>
      </header>

      <div class="columns is-multiline level">
        {% for review in site.data.reviews %}

             {% if review.hashtag == hashtag %}



              <div class="column is-6-tablet is-4-desktop level-item is-narrow">
                <article class="card">
                  <div class="card-content">
                    <p class="subtitle is-spaced">
                      "{{ review.content }}"
                    </p>
                    <p class="title title--review-name">
                      - {{ review.name }}
                    </p>
                  </div>
                </article>
              </div>




            {% endif %}
        {% endfor %}
        </div>

    </div><!-- .container -->
