<!-- Critical CSS -->
<style>{% include critical.css %}</style>

<!-- CSS loaded with non-blocking js and future forward with rel="preload" -->

  <link rel="preload" href="{% asset_path main.css %}" as="style" onload="this.rel='stylesheet'">
  <noscript>{% css main %}</noscript>

<!-- Fonts and icons -->

  <link rel="preload" href="https://file.myfontastic.com/HDcwLXYryUfDWaXwTckhq4/icons.css" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <noscript><link rel="stylesheet" href="https://file.myfontastic.com/HDcwLXYryUfDWaXwTckhq4/icons.css"></noscript>

<!-- LoadCSS.js to load style asynchronously and write the JS to the page to avoid another http request -->
  {% include loadCSS.js %}
