/* * * * * Import Bulma * * * * */

		@charset "utf-8";

		@import "utilities/_all";
		@import "base/_all";
		@import "elements/_all";
		@import "components/_all";
		@import "grid/_all";
		@import "layout/_all";

/* * * * * General Classes * * * * */


		.title {
			font-weight: 200;

			strong {
				font-weight: 700;
			}
			span {
				color: $turquoise;
			}

			&.is-1-tablet {
				@media (min-width: #{$tablet}) { font-size: 3rem; }
			}
		}
		.title--big {
			font-size: 3rem;
		}
		// Reviews main title like hashtags
		.title--hashtag {
			@extend .title--big;
			font-weight: bold;

			.reviews-container & {
				margin-bottom: 1em;
				color: $white;
			}
		}
		// Reviews person name
		.title--review-name {
			text-align: right;
			padding-top: 1.5rem;
		}
  	.subtitle {

		}
		.subtitle--hashtag {
			font-weight: bold;

			.is-spaced + & {
				margin-top: .25em;
			}
		}
		.videoThumb { display: block; }
		.button.is-primary:hover, .button.is-primary.is-hovered,
		.button.is-primary:hover, .button.is-primary.is-hovered {
			background-color: transparent;
	    border-color: $turquoise;
	    color: $turquoise;
		}
		.dark-overlay {
			background-color: rgba(0,0,0,0.25);
		}
			.darker-overlay {
				background-color: rgba(0,0,0,0.35);
			}
		.light-overlay {
			background-color: rgba($white,0.25);
		}
			.lighter-overlay {
				background-color: rgba($white,0.35);
			}
//		.about-card .card-content {
//			height: 403px;
//			width: 100%;
//		}

/* * * * * Tooltip Classes * * * * */

		.tooltip {
			position: relative;
			display: inline-block;

			.tooltiptext {
				visibility: hidden;
				width: 100%;
				background-color: $white;
				color: $grey-dark;
				text-align: center;
				padding: 0.75em;
				font-size: 1rem;
				border-radius: 3px;
				border: 1px solid $grey-dark;
				/* Position the tooltip */
				position: absolute;
				z-index: 1;
				bottom: 100%;

				strong {
					color: $turquoise;
				}
			}
			&:hover .tooltiptext {
				visibility: visible;
			}
			a:hover {
				background-color: $grey-dark;
				color: $white;
				opacity: 1 !important;
				border: 1px solid $white;

				strong {
					color: $white;
				}
			}
		}

/* * * * * Navigation Classes * * * * */

		nav {
			position: fixed !important;
			top: 0;
			left: 0;
			right: 0;
			background-color: rgba($white,0.8) !important;

			.is-hidden-tablet i {
				margin-right: 1rem;
			}
			.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active,
			.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
				border-bottom-color: $grey-dark;
				color: $grey-dark;
			}
			.is-icon {
				color: $white;
				background-color: $grey-dark;

				&:hover {
					color: $white !important;
					border-bottom-color: $white !important;
				}
			}
			.nav-item {
				img {
					height: 1.75rem;

					&:hover {
						opacity: 0.7;
					}
				}
			}
			.nav-toggle{
				&:hover {
					background-color: transparent;
				}
				span {
					background-color: $grey-dark;
				}
				&.is-active span {
					background-color: $grey-dark;
				}
			}
			.nav-toggle.is-active {
		    background-color: $white;
			}
		}
		.nav-item a.is-tab, a.nav-item.is-tab {
			border-bottom: 3px solid transparent;
		}

/* * * * * Hero Component * * * * */

		section.hero {
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
			color: $white;

			a {
				border-bottom: 1px dotted $white;

				&:hover {
					opacity: 0.9;
				}
			}
		}
		.responsive-hero {
			margin-top: 3.2rem;
			position: relative;
			display: inline-block;

			img {
				display: block;
				margin-bottom: -6px;
			}
			.hero-overlay {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translate(0, -50%);
				text-align: center;
				text-shadow: 0 0 50px #000;

				h1,h2,h3,h4,h5,p {
					color: $white;
				}
			}
			a {
				border-bottom: 1px dotted $white;
				color: $white;

				&:hover {
					opacity: 0.9;
				}
			}
		}

/* * * * * Reviews Component * * * * */

		.reviews-container {
			background: url({{ site.baseurl }}/img/heros/reviews.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			.card {
				background-color: rgba($white,0.85);
			}
			.container {
				padding: 6rem 3rem 6rem 3rem;
			}
			.light-overlay {
				background-color: rgba($white,0.85)
			}
			.content h1, .content h2, .content h3,
			.content h4, .content h5, .content h6 {
				font-weight: 200;
			}
			figure {
				border-right: 1px solid #000;
			}
			i {
				font-size: 4.2rem;
				line-height: 5.4rem;
			}
			.awards {
				.container {
					padding-top: 3rem;
					padding-bottom: 3rem;
				}
			}


    }

		@media (max-width: 563px) {
			.reviews-container figure {
				border-right: none;
			}
		}






/* * * * * Pricing Table Component * * * * */

		.pricing {
			border: 1px solid $grey-dark;

			h3 {
				font-weight: 300;

				&.title {
					margin: 0;
					color: $turquoise;

					&:hover {
						color: $grey-dark;
					}
				}
			}
			.feature {
				padding: 0.7rem 2rem;

				&:hover {
					background-color: rgba($turquoise, 0.1);
				}
				&:nth-child(even) {
					background-color: #EFEFEF;

					&:hover {
						background-color: rgba($turquoise, 0.1);
					}
				}
				span {
					color: #333;
				}
			}
			.pricing-header {
				padding: 2rem;
				border-bottom: 1px solid $grey-dark;
			}
			.pricing-footer {
				background-color: $grey-dark;
				padding: 1rem;
				color: $white;

				span {
					font-size: 1.5rem;
				}
			}
			a.tier-url {
				display: block;
				background-color: $turquoise;
				color: $white;
				padding: 0.5rem;
				line-height: 1;

				&:hover {
					background-color: $white;
					color: $turquoise;
				}
			}
		}

/* * * * * Pricing Grid Component * * * * */

		.pricing-grid {
			.is-1 {
				padding-bottom: 2rem;
			}
			i {
				font-size: 1.2rem;
			}
			&.minus h3.title.is-3 i {
				color: $red;
			}
			&.plus h3.title.is-3 i {
				color: $turquoise;
			}
		}

/* * * * * Footer Component * * * * */

		.superfooter {
			background-color: $grey-lighter;
			font-size: 1rem;
			padding: 1.5rem 0 1.5rem 0;

			i {
				color : $grey-dark;
			}
			.columns {
				margin: 0;
			}
		}
		.footer {
			background-color: $grey-dark;
			color: $white;
			font-size: 1.5rem;
			padding: 1.5rem;

			a {
				color: $white;
				padding: 0.5rem;

				&:hover {
					opacity: 0.6;
				}
			}
			.social {
				text-align: right;
			}
		}

/* * * * * Wedding Video Grid * * * * */

		section.video-grid {
			overflow: hidden;
		}
		/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
		.fancybox-wrap,
		.fancybox-skin,
		.fancybox-outer,
		.fancybox-inner,
		.fancybox-image,
		.fancybox-wrap iframe,
		.fancybox-wrap object,
		.fancybox-nav,
		.fancybox-nav span,
		.fancybox-tmp
		{
			padding: 0;
			margin: 0;
			border: 0;
			outline: none;
			vertical-align: top;
		}

		.fancybox-wrap {
			position: absolute;
			top: 0;
			left: 0;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			z-index: 8020;
		}

		.fancybox-skin {
			position: relative;
			background: #f9f9f9;
			color: #444;
			text-shadow: none;
			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px;
		}

		.fancybox-opened {
			z-index: 8030;
		}

		.fancybox-opened .fancybox-skin {
			-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		}

		.fancybox-outer, .fancybox-inner {
			position: relative;
		}

		.fancybox-inner {
			overflow: hidden;
		}

		.fancybox-type-iframe .fancybox-inner {
			overflow: hidden !important;
		}

		.fancybox-error {
			color: #444;
			font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
			margin: 0;
			padding: 15px;
			white-space: nowrap;
		}

		.fancybox-image, .fancybox-iframe {
			display: block;
			width: 100%;
			height: 100%;
		}

		.fancybox-image {
			max-width: 100%;
			max-height: 100%;
		}

		#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
			background-image: url({{ site.baseurl }}/img/fancybox_sprite.png);
		}

		#fancybox-loading {
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -22px;
			margin-left: -22px;
			background-position: 0 -108px;
			opacity: 0.8;
			cursor: pointer;
			z-index: 8060;
		}

		#fancybox-loading div {
			width: 44px;
			height: 44px;
			background: url({{ site.baseurl }}/img/fancybox_loading.gif) center center no-repeat;
		}

		.fancybox-close {
			position: absolute;
			top: -18px;
			right: -18px;
			width: 36px;
			height: 36px;
			cursor: pointer;
			z-index: 8040;
		}

		.fancybox-nav {
			position: absolute;
			top: 0;
			width: 40%;
			height: 100%;
			cursor: pointer;
			text-decoration: none;
			background: transparent url({{ site.baseurl }}/img/blank.gif); /* helps IE */
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			z-index: 8040;
		}

		.fancybox-prev {
			left: 0;
		}

		.fancybox-next {
			right: 0;
		}

		.fancybox-nav span {
			position: absolute;
			top: 50%;
			width: 36px;
			height: 34px;
			margin-top: -18px;
			cursor: pointer;
			z-index: 8040;
			visibility: hidden;
		}

		.fancybox-prev span {
			left: 10px;
			background-position: 0 -36px;
		}

		.fancybox-next span {
			right: 10px;
			background-position: 0 -72px;
		}

		.fancybox-nav:hover span {
			visibility: visible;
		}

		.fancybox-tmp {
			position: absolute;
			top: -99999px;
			left: -99999px;
			max-width: 99999px;
			max-height: 99999px;
			overflow: visible !important;
		}

		/* Overlay helper */

		.fancybox-lock {
		    overflow: visible !important;
		    width: auto;
		}

		.fancybox-lock body {
		    overflow: hidden !important;
		}

		.fancybox-lock-test {
		    overflow-y: hidden !important;
		}

		.fancybox-overlay {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			display: none;
			z-index: 8010;
		    background-color: rgba(0,0,0,0.9);
		}

		.fancybox-overlay-fixed {
			position: fixed;
			bottom: 0;
			right: 0;
		}

		.fancybox-lock .fancybox-overlay {
			overflow: auto;
			overflow-y: scroll;
		}

		/* Title helper */

		.fancybox-title {
			visibility: hidden;
			font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
			position: relative;
			text-shadow: none;
			z-index: 8050;
		}

		.fancybox-opened .fancybox-title {
			visibility: visible;
		}

		.fancybox-title-float-wrap {
			position: absolute;
			bottom: 0;
			right: 50%;
			margin-bottom: -35px;
			z-index: 8050;
			text-align: center;
		}

		.fancybox-title-float-wrap .child {
			display: inline-block;
			margin-right: -100%;
			padding: 2px 20px;
			background: transparent; /* Fallback for web browsers that doesn't support RGBa */
			background: rgba(0, 0, 0, 0.8);
			-webkit-border-radius: 15px;
			   -moz-border-radius: 15px;
			        border-radius: 15px;
			text-shadow: 0 1px 2px #222;
			color: $white;
			font-weight: bold;
			line-height: 24px;
			white-space: nowrap;
		}

		.fancybox-title-outside-wrap {
			position: relative;
			margin-top: 10px;
			color: $white;
		}

		.fancybox-title-inside-wrap {
			padding-top: 10px;
		}

		.fancybox-title-over-wrap {
			position: absolute;
			bottom: 0;
			left: 0;
			color: $white;
			padding: 10px;
			background: #000;
			background: rgba(0, 0, 0, .8);
		}

		/*Retina graphics!*/
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			   only screen and (min--moz-device-pixel-ratio: 1.5),
			   only screen and (min-device-pixel-ratio: 1.5){

			#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
				background-image: url({{ site.baseurl }}/img/fancybox_sprite@2x.png);
				background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
			}

			#fancybox-loading div {
				background-image: url({{ site.baseurl }}/img/fancybox_loading@2x.gif);
				background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
			}
		}

		.video {
			width: 25%; /* Thumbnails 4 across */
			float: left;
			margin-bottom: -7px;
		}
		figure {
			margin: 0;
		}
		// @media (max-width: 1600px) {
		// 	.video {
		// 	  	width: 33.333%;
		// 	}
		// }
		@media (max-width: 1200px) {
			.video {
			  	width: 50%;
			}
			.about-card .card-content {
				height: auto;
				width: 100%;
			}
		}

		@media (max-width: 360px) {
			.video {
			  display: block;
			  width: 100%;
			  float: none;
			}
		}
		.video img {
			width: 100%;
			opacity: 1;
		}
		.video img:hover, .video img:active, .video img:focus {
			opacity: 0.75;
		}

.video-figcaption {
	text-align: center;
	padding-bottom: 15px;
	font-weight: 600;
	text-transform: capitalize;
}

////////////////////////////////////////////////
////////////////////////////////////////////////
// Layout Helpers

$gap-margin: 2rem;

.has-gap {
	&-top {
		margin-top: $gap-margin;
		&-large {
			margin-top: $gap-margin * 3;
		}
	}
}

.button {
	// Make the icons in buttons inline-flex
	[class^="icon-"],
	[class*=" icon-"],
	.fa {
		display: inline-flex;
	}

	// Larger button only tablets and up
	&.is-large-tablet {
		@media (min-width: #{$tablet}) {
			font-size: 1.5rem;
		}


	}
}

