<!doctype html>
<html lang="en">

	{% include head.html %}

	<body>
		{% if jekyll.environment != "development" and jekyll.environment != "staging" and site.google_tag_manager_id %}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		{% endif %}

		{% include nav.html %}

			{{ content }}

		{% include footer.html %}

		{% include scripts.html %}

	</body>

</html>
